
#k-my-spn {
    width:555px;
    margin-left: 15px;}

#k-my-spn * {
    height:34px;
    color:#555;
}

.k-grid-content
{
    background:white;

}

.k-treeview .k-in {
    padding: 5px;
}

.k-input-cust {
    background-color: #ffffff;
    color: #5f2200;
}


.right-mixtransfer-grid>table>tbody>tr>td
{
    background:white;

    border-width:0.1px;

    border-bottom: 0.1px solid #f9f9f9;

}
