<div class="container padding-top">
    <div class="row">

        <div class="distance-top btn btn-lg btn-primary col-lg-10 col-lg-offset-1" onclick="javascript:window.location.href= '#/subject'">СУБЪЕКТЫ</div>
        <div class="distance-top btn btn-lg btn-primary col-lg-10 col-lg-offset-1" onclick="javascript:window.location.href= '#/object'">ОБЪЕКТЫ</div>
        <div class="distance-top btn btn-lg btn-primary col-lg-10 col-lg-offset-1" onclick="javascript:window.location.href= '#/dict'">СЛОВАРИ</div>
    </div>
</div>
