<div class="container padding-top ">
  <div class="row ">

      <div class="distance-top btn btn-xs btn-primary col-xs-10 col-xs-offset-1" onclick="javascript:window.location.href= '#/orders'"><h4>ЗАКАЗЫ</h4></div>
      <div class="distance-top btn btn-xs btn-primary col-xs-10 col-xs-offset-1" onclick="javascript:window.location.href= '#/items'"><h4>РАБОТА С ОБЪЕКТАМИ</h4></div>
      <div class="distance-top btn btn-xs btn-primary col-xs-10 col-xs-offset-1" onclick="javascript:window.location.href= '#/'"><h4>ПОИСК И ВЫДАЧА ИНФОРМАЦИИ</h4></div>
      <div class="distance-top btn btn-xs btn-primary col-xs-10 col-xs-offset-1" onclick="alert('Тут будет карта!')"><h4>КАРТА</h4></div>
      <div class="distance-top btn btn-xs btn-primary col-xs-10 col-xs-offset-1" onclick="alert('Тут будет реестр!')"><h4>РЕЕСТР ХАРАКТЕРИСТИК</h4></div>
      <div class="distance-top btn btn-xs btn-primary col-xs-10 col-xs-offset-1" onclick="alert('Тут будет архив!')"><h4>ЦИФРОВОЙ АРХИВ</h4></div>
  </div>
</div>
