<div ng-init="showData()">
    I have {{friends.length}} friends. They are:
    <input type="search" ng-model="q" placeholder="filter friends..." aria-label="filter friends" />
    <ul class="example-animate-container">
        <li class="animate-repeat paginationclass" ng-repeat="friend in friends | filter:q | pagination: curPage * pageSize |  limitTo: pageSize">
            [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
        </li>
        <li class="animate-repeat" ng-if="results.length == 0">
            <strong>No results found...</strong>
        </li>
    </ul>

    <div class="pagination pagination-centered" ng-show="friends.length">
        <ul class="pagination-controle pagination">
            <li>
                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                        ng-click="curPage=curPage-1"> &lt; PREV</button>
            </li>
            <li>
                <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
            </li>
            <li>
                <button type="button" class="btn btn-primary"
                        ng-disabled="curPage >= friends.length/pageSize - 1"
                        ng-click="curPage = curPage+1">NEXT &gt;</button>
            </li>
        </ul>
    </div>
</div>