<modal title="Детализация права" visible="showModal">
    <form role="form">

        <div class="form-group">
            <label>ID:</label>
            <input type="text" class="form-control" ng-value = "var.rightDetail.right_owner_id" disabled/>
        </div>

        <div class = "panel panel-info">

            <div class = "panel-body">

                <div class="form-group">
                    <label>Вид права:</label>
                    <input type="text" class="form-control" ng-value = "var.rightDetail.right.right_type_name" disabled/>
                </div>

                <div class="form-group">
                    <label>Объект операции (сущность):</label>
                    <input type="text" class="form-control" ng-value = "var.rightDetail.right.right_entyty_type_name" disabled/>
                </div>

                <div class="form-group">
                    <label>Тип права по числу правообладателей:</label>
                    <input type="text" class="form-control" ng-value = "var.rightDetail.right.right_count_type_name" disabled/>
                </div>

                <div class="form-group">
                    <label>Дата возникновения доли:</label>
                    <input type="text" class="form-control" ng-value = "var.rightDetail.date_in | date:'yyyy-MM-dd'" disabled/>
                </div>

                <div class="form-group">
                    <label>Доля в праве:</label>
                    <input type="text" class="form-control" ng-value ="var.rightDetail.numerator_part+''+(var.rightDetail.denominator_part == 1 ?'':'/'+var.rightDetail.denominator_part)" disabled/>
                </div>

            </div>
        </div>

        <div class = "panel panel-info">

            <div class = "panel-body">

                <div class="form-group">
                    <label>Имя/название правообладателя:</label>
                    <input type="text" class="form-control" ng-value = "var.rightDetail.owner.fullname+var.rightDetail.owner.surname+' '+var.rightDetail.owner.firstname+' '+var.rightDetail.owner.fathername" disabled/>
                </div>

                <div class="form-group">
                    <label>Адресс правообладателя:</label>
                    <input type="text" class="form-control" ng-value = "var.rightDetail.owner.address" disabled/>
                </div>

                <div class="form-group">
                    <label>Тип субъекта:</label>
                    <input type="text" class="form-control" ng-value = "var.rightDetail.owner.dtype=='private'?'физ. лицо':'юр. лицо'" disabled/>
                </div>

            </div>

        </div>

        <div class = "panel panel-info">

            <div class = "panel-body">

                <div class="form-group">
                    <label>Имя объекта:</label>
                    <input type="text" class="form-control" ng-value = "var.rightDetail.right.bindedObj.object_name" disabled/>
                </div>

                <div class="form-group">
                    <label>Кадастровый номер:</label>
                    <input type="text" class="form-control" ng-value = "var.rightDetail.right.bindedObj.cadastre_number" disabled/>
                </div>

                <div class="form-group">
                    <label>Инвентарный номер:</label>
                    <input type="text" class="form-control" ng-value = "var.rightDetail.right.bindedObj.inventory_number" disabled/>
                </div>


                <div class="form-group">
                    <label>Тип объекта:</label>
                    <input type="text" class="form-control" ng-value = "var.rightDetail.right.bindedObj.objectType.code_name" disabled/>
                </div>

                <div class="form-group">
                    <label>Адрес объекта:</label>
                    <input type="text" class="form-control" ng-value = "var.rightDetail.right.bindedObj.address" disabled/>
                </div>

            </div>

        </div>

        <input class="button" type="submit" value="Печать" onclick="window.print()">

    </form>
</modal>
