<div class="container" ng-init="init()" id="ObjectID">

<div class="padding-top">

        <div class="panel-body">

            <div class="row form-group page-header" >

                <div class = "col-sm-offset-2">

                    <label class="control-label col-sm-1"> Объект: </label>

                    <div class="col-sm-7"> <input type="text " class="form-control"  ng-value="var.obj" disabled/> </div>

                    <div class="col-sm-2"> <span class="input-group-btn"> <button class="btn btn-default form-control"  ng-click="bind()"> Привязать </button> </span> </div>

                </div>

            </div>

            <div class="row">

                <div class = "col-sm-offset-1">

                    <div class="col-sm-3 container">

                        <ul class="nav list-group" ng-model="AteForm" ng-init="AteForm=true">

                            <li><a href="" class="list-group-item active " ng-click ="cleanDataSearches(); AteForm=true; StreetForm=false; strTabShow=false; formShow=false; prclTabShow = false " > По адресу </a></li>

                            <li><a href="" class="list-group-item " ng-click ="cleanDataSearches(); AteForm=false; StreetForm=true; ateTabShow=false; strTabShow = false; formShow=false " > По кадастровому номеру </a></li>

                            <li><a href="" class="list-group-item" ng-click ="cleanDataSearches(); AteForm=false; StreetForm=false; ateTabShow=false; strTabShow=false; formShow=false" > По инвентароному номеру </a></li>

                        </ul>

                    </div>


                    <!--Address form-->

                    <div  id="AteSearchID" class = "container  col-sm-8" ng-hide = "!AteForm">
                        <div class="input-group well row">
                            <div class="well">
                        <div class="form-group" >
                            <label class="control-label col-xs-3">
                             <span class="pull-left">
                                 Адрес:
                             </span>
                            </label>


                    <span id = "k-my-spn" class=" k-textbox k-space-right" >
                        <input type="text" id="icon-right" ng-model="address.adr" ng-disabled="true"/>
                        <a href="" class="k-icon k-i-search" ng-click = "openAddress()" >&nbsp;</a>
                    </span>



                        </div>

                        <button class="btn btn-large btn-block btn-primary" ng-click="searchAdress(); strTabShow = true; formShow=false" ng-disabled="!address.adr">Поиск</button>
                            </div>
                        </div>

                    </div>

                    <!--Address end form-->


                    <!--Cadastr num form-->

                    <div  id="StreetSearchID" class = "container col-sm-8" ng-hide = "!StreetForm" >

                        <div class="input-group well row">
                            <div class="well">


                            <div class="col-sm-4" style="margin-bottom: inherit;"><!-- <label>Код СОАТО</label>-->
                                <div class="btn-group dropup" style="margin-left: 125px;">

                                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </button>
                                    <ul class="dropdown-menu" style="text-align: center;">
                                        Код СОАТО состоит из <i>10ти <b>цифр</b></i>
                                    </ul>
                                </div>

                                <div>
                                    <input type="text" class="form-control" placeholder="Код СОАТО" ng-model="coato" ng-pattern="/^[0-9]{10}$/" maxlength="10" style="width: 140px;"/>

                                    <span ng-hide="!coato" style="color:limegreen; margin-left: 5px;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="col-sm-4">

                                <div class="btn-group dropup" style="margin-left: 105px;">

                                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </button>
                                    <ul class="dropdown-menu" style="text-align: center;">
                                        Номер блока состоит из <i>2х <b>цифр</b></i>
                                    </ul>
                                </div>


                                <div><input type="text" class="form-control" placeholder="Номер блока" ng-model="block" ng-pattern="/^[0-9]{2}$/" maxlength="2" style="width: 120px;"/>
                                    <span ng-hide="!block" style="color:limegreen; margin-left: 5px;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </div></div>

                            <div class="col-sm-4">

                                <div class="btn-group dropup" style="margin-left: 115px;">

                                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </button>
                                    <ul class="dropdown-menu" style="text-align: center;">
                                        Номер участка состоит из <i>6ти <b>цифр</b></i>
                                    </ul>
                                </div>

                                <div><input type="text" class="form-control " placeholder="Номер участка"  ng-model="area" ng-pattern="/^[0-9]{6}$/" maxlength="6" style="width: 130px;"/>
                                <span ng-hide="!area" style="color:limegreen; margin-left: 5px;" class="glyphicon glyphicon-ok" aria-hidden="true"></span></div></div>

                            <button class="btn btn-large btn-block btn-primary" ng-click="searchCadastr(coato, block, area); strTabShow = true; formShow=false" ng-disabled="!(coato&&block&&area)"> Поиск </button> </div>

                        </div>

                    </div>

                    <!--Cadastr num end form-->


                    <!--Inv num form  -->

                    <div  id="ParcelSearchID" class = "container col-sm-8" ng-hide = "AteForm||StreetForm" >

                        <div class="input-group well row">
                            <div class="well">

                                <div class="col-sm-4">

                                    <div class="btn-group dropup" style="margin-left: 115px;">

                                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="text-align: center;">
                                            Код организации состоит из <i>3х <b>цифр</b></i>
                                        </ul>
                                    </div>

                                    <input type="text" class="form-control " placeholder="Код организации"  ng-model="code_org" ng-pattern="/^[0-9]{1,}$/" maxlength="3" style="width: 130px;"/>
                                    <span ng-hide="!code_org" style="color:limegreen; margin-left: 5px;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </div>

                                <div class="col-sm-3"><div class="radio"> <label><b>Тип НИ</b></label></div>
                                    <div class="radio">
                                    <label><input type="radio" name="optradio" ng-click="settype(2)" checked>/C (U)</label>
                                </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" ng-click="settype(3)">/D</label>
                                    </div> </div>

                                <div class="col-sm-5">
                                    <div class="btn-group dropup" style="margin-left: 145px;">

                                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="text-align: center;">
                                            Инвентарный номер состоит из <i>3х <b>цифр</b></i>
                                        </ul>
                                    </div>

                                    <input type="text" class="form-control " placeholder="Инвентарный номер"  ng-model="inv" ng-pattern="/^[0-9]{1,}$/" maxlength="3" style="width: 160px;"/>
                                    <span ng-hide="!inv" style="color:limegreen; margin-left: 5px;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </div>

                                <br /><br /><br />

                                <button class="btn btn-large btn-block btn-primary" ng-click="searchInv(inv, code_org); strTabShow = true; formShow=false" ng-disabled="!(inv&&code_org)"> Поиск </button> </div>


                        </div>

                    </div>

                    <!--Inv num end form -->
                </div>

            </div>

        </div>


    <table class="table table-bordered"  ng-hide="!strTabShow">

        <tr>

            <th>Номер</th>

            <th>Тип объекта</th>

            <th>Наименование</th>

            <th>Адрес</th>

            <th>Кадастровый номер</th>

            <th>Инвентарный номер</th>

        </tr>

        <tr ng-repeat="subject in var.subjects"      class="btn-default"
            ng-click=updateObjectForm(subject);
            ng-style="{false:{'background-color': '#F7BABA'}}[unReg(subject)]">
            <td width="2%">{{$index + 1}}</td>
            <td width="5%">{{subject.objectType.code_name}}</td>
            <td width="20%">{{subject.object_name}} </td>
            <td width="10%">{{subject.address_dest!=null?subject.address_dest.adr:address.adr}}</td>
            <td  width="10%">{{subject.cadastre_number}}</td>
            <td width="10%">{{subject.org_id}}{{subject.objectType.v_prm1}}{{subject.inventory_number}}</td>
        </tr>

    </table>


    <div class="form-group col-md-7 col-md-offset-4"  ng-hide="!formShow">
        <label>Наименование объекта</label>

        <div class="form-inline">
            <input class="form-control" ng-model="var.subj.object_name" style="width: 600px;">
        </div>

        <br />
        <label>Тип объекта</label>

        <div class="form-inline">
            <input class="form-control" ng-model="var.subj.objectType.code_name" style="width: 600px;">
        </div>

        <br />
        <label>Кадастровый номер</label>

        <div class="form-inline">
            <input class="form-control" ng-model="pars_COATO" placeholder="СОАТО">
            <input class="form-control" ng-model="pars_nblock" placeholder="Номер блока">
            <input class="form-control" ng-model="pars_narea" placeholder="Номер участка">
        </div>

        <br />
        <label>Инвентарный номер</label>

        <div class="form-inline">
            <input class="form-control" ng-model="var.subj.org_id" placeholder="Код организации">
            <input class="form-control" ng-model="var.subj.objectType.v_prm1" placeholder="Тип НИ">
            <input class="form-control" ng-model="var.subj.inventory_number" placeholder="Инвентарный номер">
        </div>

        <br />
        <label>Адрес</label>

        <div class="form-inline">
            <input class="form-control" ng-model="var.subj.address_dest.adr" style="width: 600px;" placeholder="Адрес организации">
        </div>

        <br />
        <label>Статус</label>

        <br />
        <div class="col">
            <button class="btn btn-primary" ng-click="modalObject('#modalObject')">Детализация</button>
        </div>
    </div>

</div>
</div>

<div ng-include="'views/modalobject.html'"></div>

<div kendo-window="window" k-visible="false" k-modal="true" k-on-close="closeAddress()" k-content="{url: '{{urlAddress}}'}"> </div>

<div class="modal fade in" ng-init="var.loading = false" visible="showLoading" ng-class="{'in' : var.loading }"
     ng-style="{true: {display: 'block'}, false: {display: 'none'}}[var.loading ]">
    <div class="center_b">
        <img src="./images/image_836733.gif" alt=""/>
    </div>
</div>