<div>

    <div class="form-group">

      <label class="control-label">Тип операции:</label>

      <select class="form-control" data-live-search="true" ng-change="setOperFilter()" ng-model="dict.curoprTyp" ng-options="type.code_short_name for type in dict.operTypes | orderBy: ['code_short_name']  track by type.code_id " required="required"></select>

    </div>

    <div class="form-group">

    <label class="control-label">Подтип операции:</label>

    <select class="form-control" data-live-search="true" ng-change="setSubFiletr()" ng-model="dict.curoprSubTyp" ng-options="subtype.code_short_name for subtype in dict.filterSubTypes | orderBy: ['code_short_name'] track by subtype.code_id" required="required"></select>


</div>

    <div class="form-group">

    <label class="control-label">Основание операции:</label>

    <select class="form-control" data-live-search="true" ng-model="dict.curoprBase" ng-options="base.code_short_name for base in dict.filterBases | orderBy: ['code_short_name'] track by base.code_id" required="required"></select>

</div>

</div>

