<div class="page-header row" ng-init="init()">

    <h2 class = "col-md-2 col-md-offset-5 text-muted"> ПРАВА </h2>

</div>

<div class="container tabbable " ng-init>

     <ul class="nav nav-tabs">

        <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"> <a ui-sref="main" href="" data-toggle="tab">Поиск</a></li>

        <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)" > <a ui-sref="search" href="" data-toggle="tab">Главная</a> </li>

        <li ng-class="getTabClass(3)" ng-click="setActiveTab(3)"> <a ui-sref="collateral" href=""  data-toggle="tab">Детализация</a></li>

        <li ng-class="getTabClass(4)" ng-click="setActiveTab(4)"> <a ui-sref="rating" href="" data-toggle="tab">Сделки</a></li>

     </ul>

     <div class="tab-content">

         <!------------------------ Search block ------------------------------------->

        <div ng-class="getTabPaneClass(1)" id="search">

             <div class = "page-header " >

                 <div class="btn-group" ng-init="obj_class='btn  btn-default '; sbj_class='btn active btn-danger '">

                     <button type="btn-lg" ng-class="obj_class" ng-click="pr_class = obj_class; obj_class = sbj_class; sbj_class = pr_class">По объекту</button>
                     <button type="btn-lg" ng-class="sbj_class" ng-click="pr_class = obj_class; obj_class = sbj_class; sbj_class = pr_class">По субъекту</button>

                 </div>

             </div>

             <div class="input-group input-group-lg">

                 <input type="text" class="form-control"  placeholder="Поиск прав" ng-init="sel_subject = ''" ng-model="sel_subject.fullname" disabled />
                 <span class="input-group-addon right-span-addon" ><span class="glyphicon glyphicon-zoom-in" ng-click="osubSearch()"></span></span>
                 <span class="input-group-addon btn" style="background-color:transparent" ng-click = "rightSearch()"> Поиск </span>

             </div>

             <table class="table table-bordered"  ng-hide="rightstDataSearchTabHide">

                <tr>

                    <th>Номер</th>

                    <th>ID</th>

                    <th>Правообладатель</th>

                    <th>Объект</th>

                    <th>Доля в праве</th>

                </tr>

                <tr ng-repeat="right in var.rightstDataSearch" class="btn-default">

                    <td >{{$index +1}}</td>

                    <td width="fit-content">{{right_owner.right_owner_id}}</td>

                    <td width="fit-content">{{right_owner.owner.surname}}{{" "+right_owner.owner.firstname}}{{" "+right_owner.owner.fathername }}{{right_owner.owner.fullname}}</td>

                    <td width="fit-content">{{right_owner.right.bindedObj.cadastre_number}}</td>

                    <td width="fit-content">{{right_owner.numerator_part}}{{right_owner.denominator_part}}</td>

                </tr>

            </table>


         </div>

         <!------------------------ Main block ---------------------------------------->

        <div ng-class="getTabPaneClass(2)" id="main">

             <div class="col-lg-4">

                <div class="panel panel-info vert-offset-top-2">

                    <div class="panel-heading"> Операции </div>

                    <div class="panel-body">

                        <select class="selectpicker" data-live-search="true" ng-model="var.OperGround" ng-options="c.code_short_name for c in var.OperGround" required="required"></select>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                    </div>

                </div>

             </div>



        </div>

         <!------------------------ Details block ---------------------------------------->

        <div ng-class="getTabPaneClass(3)" id="detail">Детализация</div>

         <!------------------------ Bargain block ---------------------------------------->

        <div ng-class="getTabPaneClass(4)" id="bargain">Сделки</div>

     </div>

</div>

<div kendo-window="sbjwindow" k-visible="false" k-modal="true" k-on-close="csubSearch()" k-content="{url: '{{urlmodSbj}}'}"> </div>





